<div
  style="width: 50rem; margin-top: 2%; margin-bottom: 2%"
  class="container-fluid"
>
  <div
    style="
      background-color: rgb(198, 226, 249);
      margin-bottom: 2rem;
      padding: 2rem;
    "
    class="card"
  >
    <div class="text-center">
      <h1 style="color: rgb(195, 57, 57)">BMI - Calculator MAX Pro 2.0</h1>
    </div>
    <br />

    <div style="margin-bottom: 0.5rem; padding: 2rem" class="card">
      <div style="display: flex">
        <div style="width: 45%">
          <h5>Name:</h5>
          <input
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="string"
            maxlength="15"
            [(ngModel)]="name"
            class="form-control"
            placeholder="First Name:"
          />
        </div>
        <div style="margin-left: 10%; width: 45%">
          <h5>Age:</h5>
          <input
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number"
            maxlength="3"
            [(ngModel)]="age"
            class="form-control"
            placeholder="Age:"
          />
        </div>
      </div>
      <br />

      <div>
        <h5>Height:</h5>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="3"
          [(ngModel)]="height"
          class="form-control"
          placeholder="Height in M:"
        />
      </div>
      <br />

      <div>
        <h5>Weight:</h5>
        <input
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number"
          maxlength="3"
          [(ngModel)]="weight"
          class="form-control"
          placeholder="Weight in Kg:"
        />
      </div>
      <br />

      <div>
        <button (click)="calcBmi(bmi, content)" class="btn btn-danger">
          Calculate
        </button>
        <button style="float: right" (click)="clean()" class="btn btn-danger">
          Clear
        </button>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ name }} <br> MBI: {{ bmi }}</h5>
      <h4></h4>
      <button
        style="width: 20px;"
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      FOTO GIGANTE
    </div>
  </ng-template>
</div>
